<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClose.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoClose.Properties.Settings>
            <setting name="Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimiseAllWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MuteAllDevices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayPrivacyShield" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoClose.Properties.Settings>
    </userSettings>
</configuration>